
div {
    width: 500px;
    height: 300px;
    /* background-color: rgb(240, 100, 0);
    background-image: url("./imagens/Fundo_abstrato.jpg");
    background-size: cover; */
    background: url("./imagens/Fundo_abstrato.jpg") no-repeat center center/cover;
}

p {
    background-color: aquamarine;
    background-image: url("imagens/Fundo_abstrato.jpg");
    background-size: cover;
}