#primeira {
    height: 100px;
    /* background-color: blue; */
}

#segunda {
    height: 100px;
    width: 100px;
    background-color: orange;
    border-width: 5px 10px 15px 20px;
    border-style: solid;
    border-color: red yellow green blue;
    border-radius: 15px 40px;
}

#terceira {
    height: 100px;
    /* background-color: green; */
}

p{
    border: 3px dashed green;
}

