p{
    color: red;
    text-align: justify;
    text-transform: capitalize;
    text-indent: 35px;
    text-decoration: underline;
    letter-spacing: 1.2px;
    line-height: 2;
    word-spacing: 5px;
    text-shadow: 1px 1px 5px #bbb;
}

a{
    text-decoration: none;
}